
<div class='main'>
    <div class='activator'>
        <div class="shrink done"><h1>Hello, lines viewer!</h1></div>
        <div class="expanded">

		  	<table>
		  		<tr>
			    <th>test paths</th>
			    <th>link path</th> 
			  	</tr>
			  <tr>
			    <td>load new file to view</td>
			    <td><div id="dev_links"><%= link_to '/lines/upload', "/lines/upload" %></div></td> 
			  </tr>			  
			  <tr>
			    <td>status 200 link</td> 
			    <td><div id="dev_links"><%= link_to '/lines/2', "/lines/2" %></div></td> 
			  </tr>			  
			  <tr>
			    <td>status 413 link</td>
			    <td><div id="dev_links"><%= link_to '/lines/200', "/lines/200" %></div></td> 
			  </tr>
      		</table>

			</div>
        </div>
    </div>

      		<hr>
      		<h1>Project Status:</h1>
      			<ul>
				  <li><div id="status_done">finished init of server,frontend </div></li>
				  <li><div id="status_work">currently setting up the db and parsing </div></li>
				  <li><div id="status_issues"> need figure out concurrency and large file distrution</div></li>
				</ul>
      			
      		</p>


</div>